In [9]:
import pandas as pd

In [10]:
belem_2020 = pd.read_csv("mesarios_belem_2020.csv", encoding="latin1")
belem_2024 = pd.read_csv("mesarios_belem_2024.csv", encoding="latin1")
poa_2020 = pd.read_csv("mesarios_poa_2020.csv", encoding="latin1")
poa_2024 = pd.read_csv("mesarios_poa_2024.csv", encoding="latin1")

In [11]:
dataset = pd.concat([belem_2020, belem_2024, poa_2020, poa_2024], ignore_index=True)

In [12]:
dataset

,AA_ELEICAO,NR_TURNO,SG_UF,CD_MUNICIPIO,NM_MUNICIPIO,NR_ZONA,CD_GENERO,DS_GENERO,CD_ESTADO_CIVIL,DS_ESTADO_CIVIL,CD_FAIXA_ETARIA,DS_FAIXA_ETARIA,CD_GRAU_ESCOLARIDADE,DS_GRAU_ESCOLARIDADE,TP_CONVOCACAO,TP_COMPARECIMENTO,QT_MESARIOS_PERFIL
0,2020,1,PA,4278,BELÉM,97,4,FEMININO,3,CASADO,4044,40 a 44 anos,4,ENSINO FUNDAMENTAL COMPLETO,Não voluntárias e não voluntários,Comparecimentos,1
1,2020,1,PA,4278,BELÉM,97,4,FEMININO,1,SOLTEIRO,5054,50 a 54 anos,8,SUPERIOR COMPLETO,Voluntárias e voluntários,Comparecimentos,2
2,2020,1,PA,4278,BELÉM,97,4,FEMININO,1,SOLTEIRO,2124,21 a 24 anos,7,SUPERIOR INCOMPLETO,Voluntárias e voluntários,Comparecimentos,5
3,2020,1,PA,4278,BELÉM,97,4,FEMININO,1,SOLTEIRO,3539,35 a 39 anos,8,SUPERIOR COMPLETO,Voluntárias e voluntários,Ausências,1
4,2020,1,PA,4278,BELÉM,97,4,FEMININO,1,SOLTEIRO,4044,40 a 44 anos,8,SUPERIOR COMPLETO,Não voluntárias e não voluntários,Comparecimentos,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23166,2024,2,RS,88013,PORTO ALEGRE,114,4,FEMININO,9,DIVORCIADO,5559,55 a 59 anos,7,SUPERIOR INCOMPLETO,Não voluntárias e não voluntários,Comparecimentos,1
23167,2024,1,RS,88013,PORTO ALEGRE,114,4,FEMININO,9,DIVORCIADO,4044,40 a 44 anos,8,SUPERIOR COMPLETO,Não voluntárias e não voluntários,Comparecimentos,3
23168,2024,1,RS,88013,PORTO ALEGRE,160,4,FEMININO,1,SOLTEIRO,6569,65 a 69 anos,4,ENSINO FUNDAMENTAL COMPLETO,Voluntárias e voluntários,Comparecimentos,1
23169,2024,1,RS,88013,PORTO ALEGRE,160,4,FEMININO,1,SOLTEIRO,5054,50 a 54 anos,7,SUPERIOR INCOMPLETO,Voluntárias e voluntários,Comparecimentos,1
23170,2024,2,RS,88013,PORTO ALEGRE,111,4,FEMININO,3,CASADO,2529,25 a 29 anos,6,ENSINO MÉDIO COMPLETO,Voluntárias e voluntários,Comparecimentos,1

In [13]:
dataset = dataset.drop(columns=["CD_MUNICIPIO", "CD_GENERO", "CD_ESTADO_CIVIL", "CD_FAIXA_ETARIA", "CD_GRAU_ESCOLARIDADE"])

In [14]:
infos_dataset = dataset.describe(include="all")

In [15]:
infos_dataset

,AA_ELEICAO,NR_TURNO,SG_UF,NM_MUNICIPIO,NR_ZONA,DS_GENERO,DS_ESTADO_CIVIL,DS_FAIXA_ETARIA,DS_GRAU_ESCOLARIDADE,TP_CONVOCACAO,TP_COMPARECIMENTO,QT_MESARIOS_PERFIL
count,23171.000000,23171.000000,23171,23171,23171.00000,23171,23171,23171,23171,23171,23171,23171.000000
unique,NaN,NaN,2,2,NaN,2,6,16,8,2,2,NaN
top,NaN,NaN,RS,PORTO ALEGRE,NaN,FEMININO,SOLTEIRO,40 a 44 anos,SUPERIOR COMPLETO,Não voluntárias e não voluntários,Comparecimentos,NaN
freq,NaN,NaN,11808,11808,NaN,12995,13106,3004,6904,11911,21196,NaN
mean,2022.046006,1.484226,NaN,NaN,88.64106,NaN,NaN,NaN,NaN,NaN,NaN,3.702732
std,1.999514,0.499762,NaN,NaN,52.73328,NaN,NaN,NaN,NaN,NaN,NaN,4.553876
min,2020.000000,1.000000,NaN,NaN,1.00000,NaN,NaN,NaN,NaN,NaN,NaN,1.000000
25%,2020.000000,1.000000,NaN,NaN,30.00000,NaN,NaN,NaN,NaN,NaN,NaN,1.000000
50%,2024.000000,1.000000,NaN,NaN,97.00000,NaN,NaN,NaN,NaN,NaN,NaN,2.000000
75%,2024.000000,2.000000,NaN,NaN,114.00000,NaN,NaN,NaN,NaN,NaN,NaN,4.000000
max,2024.000000,2.000000,NaN,NaN,161.00000,NaN,NaN,NaN,NaN,NaN,NaN,50.000000

In [16]:
dataset.to_csv("dataset.csv", index=False, encoding='latin1')