In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [2]:
mesarios_rs_2020 = pd.read_csv('convocacao_mesarios_2020_RS.csv', encoding='latin1', delimiter=';')

In [3]:
mesarios_rs_2020

,DT_GERACAO,HH_GERACAO,AA_ELEICAO,NR_TURNO,SG_UF,CD_MUNICIPIO,NM_MUNICIPIO,NR_ZONA,CD_GENERO,DS_GENERO,CD_ESTADO_CIVIL,DS_ESTADO_CIVIL,CD_FAIXA_ETARIA,DS_FAIXA_ETARIA,CD_GRAU_ESCOLARIDADE,DS_GRAU_ESCOLARIDADE,TP_CONVOCACAO,TP_COMPARECIMENTO,QT_MESARIOS_PERFIL
0,28/10/2024,03:49:41,2020,2,RS,88013,PORTO ALEGRE,2,2,MASCULINO,3,CASADO,4044,40 a 44 anos,8,SUPERIOR COMPLETO,Voluntárias e voluntários,Comparecimentos,9
1,28/10/2024,03:49:41,2020,2,RS,88013,PORTO ALEGRE,2,2,MASCULINO,1,SOLTEIRO,3539,35 a 39 anos,5,ENSINO MÉDIO INCOMPLETO,Não voluntárias e não voluntários,Comparecimentos,9
2,28/10/2024,03:49:41,2020,1,RS,88013,PORTO ALEGRE,2,2,MASCULINO,1,SOLTEIRO,4044,40 a 44 anos,8,SUPERIOR COMPLETO,Não voluntárias e não voluntários,Comparecimentos,22
3,28/10/2024,03:49:41,2020,1,RS,88013,PORTO ALEGRE,2,4,FEMININO,1,SOLTEIRO,3539,35 a 39 anos,7,SUPERIOR INCOMPLETO,Voluntárias e voluntários,Comparecimentos,9
4,28/10/2024,03:49:41,2020,1,RS,88013,PORTO ALEGRE,2,2,MASCULINO,1,SOLTEIRO,2529,25 a 29 anos,6,ENSINO MÉDIO COMPLETO,Não voluntárias e não voluntários,Comparecimentos,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47901,28/10/2024,03:49:41,2020,1,RS,89338,TORRES,85,4,FEMININO,3,CASADO,4549,45 a 49 anos,7,SUPERIOR INCOMPLETO,Não voluntárias e não voluntários,Ausências,1
47902,28/10/2024,03:49:41,2020,1,RS,84972,IBARAMA,53,4,FEMININO,3,CASADO,2529,25 a 29 anos,8,SUPERIOR COMPLETO,Não voluntárias e não voluntários,Comparecimentos,1
47903,28/10/2024,03:49:41,2020,1,RS,88889,PASSA SETE,53,4,FEMININO,1,SOLTEIRO,2000,20 anos,6,ENSINO MÉDIO COMPLETO,Não voluntárias e não voluntários,Comparecimentos,1
47904,28/10/2024,03:49:41,2020,1,RS,89338,TORRES,85,4,FEMININO,1,SOLTEIRO,2529,25 a 29 anos,4,ENSINO FUNDAMENTAL COMPLETO,Não voluntárias e não voluntários,Comparecimentos,1
47905,28/10/2024,03:49:41,2020,1,RS,89338,TORRES,85,2,MASCULINO,1,SOLTEIRO,2124,21 a 24 anos,6,ENSINO MÉDIO COMPLETO,Não voluntárias e não voluntários,Comparecimentos,1

In [4]:
mesarios_rs_2020 = mesarios_rs_2020[mesarios_rs_2020["NM_MUNICIPIO"] == "PORTO ALEGRE"]

In [5]:
infos_mesarios_rs_2020 = mesarios_rs_2020.describe(include='all')
nan_mesarios_rs_2020 = mesarios_rs_2020.isnull().sum()

In [6]:
infos_mesarios_rs_2020

,DT_GERACAO,HH_GERACAO,AA_ELEICAO,NR_TURNO,SG_UF,CD_MUNICIPIO,NM_MUNICIPIO,NR_ZONA,CD_GENERO,DS_GENERO,CD_ESTADO_CIVIL,DS_ESTADO_CIVIL,CD_FAIXA_ETARIA,DS_FAIXA_ETARIA,CD_GRAU_ESCOLARIDADE,DS_GRAU_ESCOLARIDADE,TP_CONVOCACAO,TP_COMPARECIMENTO,QT_MESARIOS_PERFIL
count,5639,5639,5639.0,5639.000000,5639,5639.0,5639,5639.000000,5639.000000,5639,5639.000000,5639,5639.000000,5639,5639.000000,5639,5639,5639,5639.000000
unique,1,1,NaN,NaN,1,NaN,1,NaN,NaN,2,NaN,6,NaN,15,NaN,8,2,2,NaN
top,28/10/2024,03:49:41,NaN,NaN,RS,NaN,PORTO ALEGRE,NaN,NaN,FEMININO,NaN,SOLTEIRO,NaN,40 a 44 anos,NaN,SUPERIOR COMPLETO,Não voluntárias e não voluntários,Comparecimentos,NaN
freq,5639,5639,NaN,NaN,5639,NaN,5639,NaN,NaN,3086,NaN,3256,NaN,821,NaN,1565,3188,5298,NaN
mean,NaN,NaN,2020.0,1.480759,NaN,88013.0,NaN,114.127682,3.094520,NaN,2.641603,NaN,4030.235325,NaN,6.291009,NaN,NaN,NaN,3.546373
std,NaN,NaN,0.0,0.499674,NaN,0.0,NaN,55.447565,0.995611,NaN,2.561229,NaN,1176.181838,NaN,1.499643,NaN,NaN,NaN,4.225080
min,NaN,NaN,2020.0,1.000000,NaN,88013.0,NaN,1.000000,2.000000,NaN,0.000000,NaN,1800.000000,NaN,1.000000,NaN,NaN,NaN,1.000000
25%,NaN,NaN,2020.0,1.000000,NaN,88013.0,NaN,111.000000,2.000000,NaN,1.000000,NaN,3034.000000,NaN,5.000000,NaN,NaN,NaN,1.000000
50%,NaN,NaN,2020.0,1.000000,NaN,88013.0,NaN,114.000000,4.000000,NaN,1.000000,NaN,4044.000000,NaN,6.000000,NaN,NaN,NaN,2.000000
75%,NaN,NaN,2020.0,2.000000,NaN,88013.0,NaN,159.000000,4.000000,NaN,3.000000,NaN,5054.000000,NaN,8.000000,NaN,NaN,NaN,4.000000
max,NaN,NaN,2020.0,2.000000,NaN,88013.0,NaN,161.000000,4.000000,NaN,9.000000,NaN,7579.000000,NaN,8.000000,NaN,NaN,NaN,50.000000

In [7]:
nan_mesarios_rs_2020

DT_GERACAO              0
HH_GERACAO              0
AA_ELEICAO              0
NR_TURNO                0
SG_UF                   0
CD_MUNICIPIO            0
NM_MUNICIPIO            0
NR_ZONA                 0
CD_GENERO               0
DS_GENERO               0
CD_ESTADO_CIVIL         0
DS_ESTADO_CIVIL         0
CD_FAIXA_ETARIA         0
DS_FAIXA_ETARIA         0
CD_GRAU_ESCOLARIDADE    0
DS_GRAU_ESCOLARIDADE    0
TP_CONVOCACAO           0
TP_COMPARECIMENTO       0
QT_MESARIOS_PERFIL      0
dtype: int64

In [8]:
mesarios_rs_2020 = mesarios_rs_2020.drop(columns=["DT_GERACAO", "HH_GERACAO"])

In [9]:
infos_finais = mesarios_rs_2020.describe(include='all')
nan_finais = mesarios_rs_2020.isnull().sum()

In [10]:
infos_finais

,AA_ELEICAO,NR_TURNO,SG_UF,CD_MUNICIPIO,NM_MUNICIPIO,NR_ZONA,CD_GENERO,DS_GENERO,CD_ESTADO_CIVIL,DS_ESTADO_CIVIL,CD_FAIXA_ETARIA,DS_FAIXA_ETARIA,CD_GRAU_ESCOLARIDADE,DS_GRAU_ESCOLARIDADE,TP_CONVOCACAO,TP_COMPARECIMENTO,QT_MESARIOS_PERFIL
count,5639.0,5639.000000,5639,5639.0,5639,5639.000000,5639.000000,5639,5639.000000,5639,5639.000000,5639,5639.000000,5639,5639,5639,5639.000000
unique,NaN,NaN,1,NaN,1,NaN,NaN,2,NaN,6,NaN,15,NaN,8,2,2,NaN
top,NaN,NaN,RS,NaN,PORTO ALEGRE,NaN,NaN,FEMININO,NaN,SOLTEIRO,NaN,40 a 44 anos,NaN,SUPERIOR COMPLETO,Não voluntárias e não voluntários,Comparecimentos,NaN
freq,NaN,NaN,5639,NaN,5639,NaN,NaN,3086,NaN,3256,NaN,821,NaN,1565,3188,5298,NaN
mean,2020.0,1.480759,NaN,88013.0,NaN,114.127682,3.094520,NaN,2.641603,NaN,4030.235325,NaN,6.291009,NaN,NaN,NaN,3.546373
std,0.0,0.499674,NaN,0.0,NaN,55.447565,0.995611,NaN,2.561229,NaN,1176.181838,NaN,1.499643,NaN,NaN,NaN,4.225080
min,2020.0,1.000000,NaN,88013.0,NaN,1.000000,2.000000,NaN,0.000000,NaN,1800.000000,NaN,1.000000,NaN,NaN,NaN,1.000000
25%,2020.0,1.000000,NaN,88013.0,NaN,111.000000,2.000000,NaN,1.000000,NaN,3034.000000,NaN,5.000000,NaN,NaN,NaN,1.000000
50%,2020.0,1.000000,NaN,88013.0,NaN,114.000000,4.000000,NaN,1.000000,NaN,4044.000000,NaN,6.000000,NaN,NaN,NaN,2.000000
75%,2020.0,2.000000,NaN,88013.0,NaN,159.000000,4.000000,NaN,3.000000,NaN,5054.000000,NaN,8.000000,NaN,NaN,NaN,4.000000
max,2020.0,2.000000,NaN,88013.0,NaN,161.000000,4.000000,NaN,9.000000,NaN,7579.000000,NaN,8.000000,NaN,NaN,NaN,50.000000

In [11]:
nan_finais

AA_ELEICAO              0
NR_TURNO                0
SG_UF                   0
CD_MUNICIPIO            0
NM_MUNICIPIO            0
NR_ZONA                 0
CD_GENERO               0
DS_GENERO               0
CD_ESTADO_CIVIL         0
DS_ESTADO_CIVIL         0
CD_FAIXA_ETARIA         0
DS_FAIXA_ETARIA         0
CD_GRAU_ESCOLARIDADE    0
DS_GRAU_ESCOLARIDADE    0
TP_CONVOCACAO           0
TP_COMPARECIMENTO       0
QT_MESARIOS_PERFIL      0
dtype: int64

In [12]:
mesarios_rs_2020

,AA_ELEICAO,NR_TURNO,SG_UF,CD_MUNICIPIO,NM_MUNICIPIO,NR_ZONA,CD_GENERO,DS_GENERO,CD_ESTADO_CIVIL,DS_ESTADO_CIVIL,CD_FAIXA_ETARIA,DS_FAIXA_ETARIA,CD_GRAU_ESCOLARIDADE,DS_GRAU_ESCOLARIDADE,TP_CONVOCACAO,TP_COMPARECIMENTO,QT_MESARIOS_PERFIL
0,2020,2,RS,88013,PORTO ALEGRE,2,2,MASCULINO,3,CASADO,4044,40 a 44 anos,8,SUPERIOR COMPLETO,Voluntárias e voluntários,Comparecimentos,9
1,2020,2,RS,88013,PORTO ALEGRE,2,2,MASCULINO,1,SOLTEIRO,3539,35 a 39 anos,5,ENSINO MÉDIO INCOMPLETO,Não voluntárias e não voluntários,Comparecimentos,9
2,2020,1,RS,88013,PORTO ALEGRE,2,2,MASCULINO,1,SOLTEIRO,4044,40 a 44 anos,8,SUPERIOR COMPLETO,Não voluntárias e não voluntários,Comparecimentos,22
3,2020,1,RS,88013,PORTO ALEGRE,2,4,FEMININO,1,SOLTEIRO,3539,35 a 39 anos,7,SUPERIOR INCOMPLETO,Voluntárias e voluntários,Comparecimentos,9
4,2020,1,RS,88013,PORTO ALEGRE,2,2,MASCULINO,1,SOLTEIRO,2529,25 a 29 anos,6,ENSINO MÉDIO COMPLETO,Não voluntárias e não voluntários,Comparecimentos,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47863,2020,1,RS,88013,PORTO ALEGRE,161,4,FEMININO,1,SOLTEIRO,3034,30 a 34 anos,5,ENSINO MÉDIO INCOMPLETO,Voluntárias e voluntários,Ausências,1
47868,2020,2,RS,88013,PORTO ALEGRE,161,2,MASCULINO,1,SOLTEIRO,2000,20 anos,5,ENSINO MÉDIO INCOMPLETO,Não voluntárias e não voluntários,Ausências,1
47878,2020,2,RS,88013,PORTO ALEGRE,161,4,FEMININO,1,SOLTEIRO,1800,18 anos,6,ENSINO MÉDIO COMPLETO,Voluntárias e voluntários,Comparecimentos,3
47879,2020,2,RS,88013,PORTO ALEGRE,161,2,MASCULINO,3,CASADO,6569,65 a 69 anos,3,ENSINO FUNDAMENTAL INCOMPLETO,Voluntárias e voluntários,Comparecimentos,1
47893,2020,2,RS,88013,PORTO ALEGRE,161,2,MASCULINO,1,SOLTEIRO,5054,50 a 54 anos,3,ENSINO FUNDAMENTAL INCOMPLETO,Voluntárias e voluntários,Comparecimentos,1

In [13]:
mesarios_rs_2020.to_csv("mesarios_poa_2020.csv", index=False, encoding='latin1')