In [1]:
import pandas as pd
import numpy as np

In [2]:
mesarios_pa_2020 = pd.read_csv('convocacao_mesarios_2020_PA.csv', encoding='latin1', delimiter=';')

In [3]:
mesarios_pa_2020

,DT_GERACAO,HH_GERACAO,AA_ELEICAO,NR_TURNO,SG_UF,CD_MUNICIPIO,NM_MUNICIPIO,NR_ZONA,CD_GENERO,DS_GENERO,CD_ESTADO_CIVIL,DS_ESTADO_CIVIL,CD_FAIXA_ETARIA,DS_FAIXA_ETARIA,CD_GRAU_ESCOLARIDADE,DS_GRAU_ESCOLARIDADE,TP_CONVOCACAO,TP_COMPARECIMENTO,QT_MESARIOS_PERFIL
0,28/10/2024,03:49:41,2020,1,PA,4472,CASTANHAL,50,4,FEMININO,3,CASADO,4549,45 a 49 anos,5,ENSINO MÉDIO INCOMPLETO,Não voluntárias e não voluntários,Comparecimentos,2
1,28/10/2024,03:49:41,2020,1,PA,4472,CASTANHAL,50,2,MASCULINO,1,SOLTEIRO,2529,25 a 29 anos,6,ENSINO MÉDIO COMPLETO,Não voluntárias e não voluntários,Comparecimentos,11
2,28/10/2024,03:49:41,2020,1,PA,4537,CONCEIÇÃO DO ARAGUAIA,24,2,MASCULINO,1,SOLTEIRO,6064,60 a 64 anos,2,LÊ E ESCREVE,Não voluntárias e não voluntários,Comparecimentos,1
3,28/10/2024,03:49:41,2020,1,PA,4677,INHANGAPI,4,2,MASCULINO,3,CASADO,3034,30 a 34 anos,6,ENSINO MÉDIO COMPLETO,Não voluntárias e não voluntários,Comparecimentos,2
4,28/10/2024,03:49:41,2020,1,PA,4677,INHANGAPI,4,4,FEMININO,1,SOLTEIRO,2529,25 a 29 anos,8,SUPERIOR COMPLETO,Não voluntárias e não voluntários,Comparecimentos,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26365,28/10/2024,03:49:41,2020,1,PA,4235,BAIÃO,35,4,FEMININO,1,SOLTEIRO,5054,50 a 54 anos,3,ENSINO FUNDAMENTAL INCOMPLETO,Não voluntárias e não voluntários,Comparecimentos,1
26366,28/10/2024,03:49:41,2020,1,PA,4197,AVEIRO,34,4,FEMININO,5,VIÚVO,5559,55 a 59 anos,8,SUPERIOR COMPLETO,Não voluntárias e não voluntários,Comparecimentos,1
26367,28/10/2024,03:49:41,2020,1,PA,4286,TRAIRÃO,34,4,FEMININO,3,CASADO,3034,30 a 34 anos,3,ENSINO FUNDAMENTAL INCOMPLETO,Não voluntárias e não voluntários,Comparecimentos,1
26368,28/10/2024,03:49:41,2020,1,PA,5177,PORTO DE MOZ,82,4,FEMININO,1,SOLTEIRO,2124,21 a 24 anos,6,ENSINO MÉDIO COMPLETO,Não voluntárias e não voluntários,Comparecimentos,1
26369,28/10/2024,03:49:41,2020,1,PA,4235,BAIÃO,35,2,MASCULINO,1,SOLTEIRO,6064,60 a 64 anos,8,SUPERIOR COMPLETO,Não voluntárias e não voluntários,Comparecimentos,1

In [4]:
mesarios_pa_2020 = mesarios_pa_2020[mesarios_pa_2020["NM_MUNICIPIO"] == "BELÉM"]

In [5]:
infos_mesarios_pa_2020 = mesarios_pa_2020.describe(include="all")
nan_mesarios_pa_2020 = mesarios_pa_2020.isnull().sum()

In [6]:
infos_mesarios_pa_2020

,DT_GERACAO,HH_GERACAO,AA_ELEICAO,NR_TURNO,SG_UF,CD_MUNICIPIO,NM_MUNICIPIO,NR_ZONA,CD_GENERO,DS_GENERO,CD_ESTADO_CIVIL,DS_ESTADO_CIVIL,CD_FAIXA_ETARIA,DS_FAIXA_ETARIA,CD_GRAU_ESCOLARIDADE,DS_GRAU_ESCOLARIDADE,TP_CONVOCACAO,TP_COMPARECIMENTO,QT_MESARIOS_PERFIL
count,5680,5680,5680.0,5680.000000,5680,5680.0,5680,5680.000000,5680.000000,5680,5680.000000,5680,5680.000000,5680,5680.000000,5680,5680,5680,5680.000000
unique,1,1,NaN,NaN,1,NaN,1,NaN,NaN,2,NaN,5,NaN,16,NaN,6,2,2,NaN
top,28/10/2024,03:49:41,NaN,NaN,PA,NaN,BELÉM,NaN,NaN,FEMININO,NaN,SOLTEIRO,NaN,35 a 39 anos,NaN,SUPERIOR COMPLETO,Não voluntárias e não voluntários,Comparecimentos,NaN
freq,5680,5680,NaN,NaN,5680,NaN,5680,NaN,NaN,3120,NaN,3202,NaN,764,NaN,1843,3031,4552,NaN
mean,NaN,NaN,2020.0,1.489437,NaN,4278.0,NaN,64.241549,3.098592,NaN,2.503521,NaN,3824.608627,NaN,6.629754,NaN,NaN,NaN,3.367077
std,NaN,NaN,0.0,0.499932,NaN,0.0,NaN,33.853253,0.995216,NaN,2.369017,NaN,1238.026012,NaN,1.241443,NaN,NaN,NaN,4.177048
min,NaN,NaN,2020.0,1.000000,NaN,4278.0,NaN,1.000000,2.000000,NaN,1.000000,NaN,1800.000000,NaN,3.000000,NaN,NaN,NaN,1.000000
25%,NaN,NaN,2020.0,1.000000,NaN,4278.0,NaN,29.000000,2.000000,NaN,1.000000,NaN,3034.000000,NaN,6.000000,NaN,NaN,NaN,1.000000
50%,NaN,NaN,2020.0,1.000000,NaN,4278.0,NaN,76.000000,4.000000,NaN,1.000000,NaN,3539.000000,NaN,7.000000,NaN,NaN,NaN,2.000000
75%,NaN,NaN,2020.0,2.000000,NaN,4278.0,NaN,96.000000,4.000000,NaN,3.000000,NaN,4549.000000,NaN,8.000000,NaN,NaN,NaN,4.000000
max,NaN,NaN,2020.0,2.000000,NaN,4278.0,NaN,98.000000,4.000000,NaN,9.000000,NaN,8084.000000,NaN,8.000000,NaN,NaN,NaN,39.000000

In [7]:
nan_mesarios_pa_2020

DT_GERACAO              0
HH_GERACAO              0
AA_ELEICAO              0
NR_TURNO                0
SG_UF                   0
CD_MUNICIPIO            0
NM_MUNICIPIO            0
NR_ZONA                 0
CD_GENERO               0
DS_GENERO               0
CD_ESTADO_CIVIL         0
DS_ESTADO_CIVIL         0
CD_FAIXA_ETARIA         0
DS_FAIXA_ETARIA         0
CD_GRAU_ESCOLARIDADE    0
DS_GRAU_ESCOLARIDADE    0
TP_CONVOCACAO           0
TP_COMPARECIMENTO       0
QT_MESARIOS_PERFIL      0
dtype: int64

In [8]:
mesarios_pa_2020 = mesarios_pa_2020.drop(columns=["DT_GERACAO", "HH_GERACAO"])

In [9]:
infos_finais = mesarios_pa_2020.describe(include='all')
nan_finais = mesarios_pa_2020.isnull().sum()

In [10]:
infos_finais

,AA_ELEICAO,NR_TURNO,SG_UF,CD_MUNICIPIO,NM_MUNICIPIO,NR_ZONA,CD_GENERO,DS_GENERO,CD_ESTADO_CIVIL,DS_ESTADO_CIVIL,CD_FAIXA_ETARIA,DS_FAIXA_ETARIA,CD_GRAU_ESCOLARIDADE,DS_GRAU_ESCOLARIDADE,TP_CONVOCACAO,TP_COMPARECIMENTO,QT_MESARIOS_PERFIL
count,5680.0,5680.000000,5680,5680.0,5680,5680.000000,5680.000000,5680,5680.000000,5680,5680.000000,5680,5680.000000,5680,5680,5680,5680.000000
unique,NaN,NaN,1,NaN,1,NaN,NaN,2,NaN,5,NaN,16,NaN,6,2,2,NaN
top,NaN,NaN,PA,NaN,BELÉM,NaN,NaN,FEMININO,NaN,SOLTEIRO,NaN,35 a 39 anos,NaN,SUPERIOR COMPLETO,Não voluntárias e não voluntários,Comparecimentos,NaN
freq,NaN,NaN,5680,NaN,5680,NaN,NaN,3120,NaN,3202,NaN,764,NaN,1843,3031,4552,NaN
mean,2020.0,1.489437,NaN,4278.0,NaN,64.241549,3.098592,NaN,2.503521,NaN,3824.608627,NaN,6.629754,NaN,NaN,NaN,3.367077
std,0.0,0.499932,NaN,0.0,NaN,33.853253,0.995216,NaN,2.369017,NaN,1238.026012,NaN,1.241443,NaN,NaN,NaN,4.177048
min,2020.0,1.000000,NaN,4278.0,NaN,1.000000,2.000000,NaN,1.000000,NaN,1800.000000,NaN,3.000000,NaN,NaN,NaN,1.000000
25%,2020.0,1.000000,NaN,4278.0,NaN,29.000000,2.000000,NaN,1.000000,NaN,3034.000000,NaN,6.000000,NaN,NaN,NaN,1.000000
50%,2020.0,1.000000,NaN,4278.0,NaN,76.000000,4.000000,NaN,1.000000,NaN,3539.000000,NaN,7.000000,NaN,NaN,NaN,2.000000
75%,2020.0,2.000000,NaN,4278.0,NaN,96.000000,4.000000,NaN,3.000000,NaN,4549.000000,NaN,8.000000,NaN,NaN,NaN,4.000000
max,2020.0,2.000000,NaN,4278.0,NaN,98.000000,4.000000,NaN,9.000000,NaN,8084.000000,NaN,8.000000,NaN,NaN,NaN,39.000000

In [11]:
nan_finais

AA_ELEICAO              0
NR_TURNO                0
SG_UF                   0
CD_MUNICIPIO            0
NM_MUNICIPIO            0
NR_ZONA                 0
CD_GENERO               0
DS_GENERO               0
CD_ESTADO_CIVIL         0
DS_ESTADO_CIVIL         0
CD_FAIXA_ETARIA         0
DS_FAIXA_ETARIA         0
CD_GRAU_ESCOLARIDADE    0
DS_GRAU_ESCOLARIDADE    0
TP_CONVOCACAO           0
TP_COMPARECIMENTO       0
QT_MESARIOS_PERFIL      0
dtype: int64

In [12]:
mesarios_pa_2020

,AA_ELEICAO,NR_TURNO,SG_UF,CD_MUNICIPIO,NM_MUNICIPIO,NR_ZONA,CD_GENERO,DS_GENERO,CD_ESTADO_CIVIL,DS_ESTADO_CIVIL,CD_FAIXA_ETARIA,DS_FAIXA_ETARIA,CD_GRAU_ESCOLARIDADE,DS_GRAU_ESCOLARIDADE,TP_CONVOCACAO,TP_COMPARECIMENTO,QT_MESARIOS_PERFIL
20,2020,1,PA,4278,BELÉM,97,4,FEMININO,3,CASADO,4044,40 a 44 anos,4,ENSINO FUNDAMENTAL COMPLETO,Não voluntárias e não voluntários,Comparecimentos,1
21,2020,1,PA,4278,BELÉM,97,4,FEMININO,1,SOLTEIRO,5054,50 a 54 anos,8,SUPERIOR COMPLETO,Voluntárias e voluntários,Comparecimentos,2
22,2020,1,PA,4278,BELÉM,97,4,FEMININO,1,SOLTEIRO,2124,21 a 24 anos,7,SUPERIOR INCOMPLETO,Voluntárias e voluntários,Comparecimentos,5
23,2020,1,PA,4278,BELÉM,97,4,FEMININO,1,SOLTEIRO,3539,35 a 39 anos,8,SUPERIOR COMPLETO,Voluntárias e voluntários,Ausências,1
24,2020,1,PA,4278,BELÉM,97,4,FEMININO,1,SOLTEIRO,4044,40 a 44 anos,8,SUPERIOR COMPLETO,Não voluntárias e não voluntários,Comparecimentos,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26354,2020,1,PA,4278,BELÉM,98,2,MASCULINO,1,SOLTEIRO,4549,45 a 49 anos,8,SUPERIOR COMPLETO,Voluntárias e voluntários,Ausências,1
26355,2020,1,PA,4278,BELÉM,95,2,MASCULINO,9,DIVORCIADO,5054,50 a 54 anos,7,SUPERIOR INCOMPLETO,Voluntárias e voluntários,Comparecimentos,1
26360,2020,2,PA,4278,BELÉM,95,4,FEMININO,9,DIVORCIADO,5054,50 a 54 anos,7,SUPERIOR INCOMPLETO,Não voluntárias e não voluntários,Comparecimentos,2
26361,2020,2,PA,4278,BELÉM,95,2,MASCULINO,3,CASADO,6064,60 a 64 anos,4,ENSINO FUNDAMENTAL COMPLETO,Voluntárias e voluntários,Comparecimentos,1
26362,2020,2,PA,4278,BELÉM,95,2,MASCULINO,7,SEPARADO JUDICIALMENTE,6064,60 a 64 anos,6,ENSINO MÉDIO COMPLETO,Voluntárias e voluntários,Comparecimentos,1

In [13]:
mesarios_pa_2020.to_csv("mesarios_belem_2020.csv", index=False, encoding='latin1')