In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [2]:
mesarios_pa_2024 = pd.read_csv('convocacao_mesarios_2024_PA.csv', encoding='latin1', delimiter=';')

In [3]:
mesarios_pa_2024

,DT_GERACAO,HH_GERACAO,AA_ELEICAO,NR_TURNO,SG_UF,CD_MUNICIPIO,NM_MUNICIPIO,NR_ZONA,CD_GENERO,DS_GENERO,CD_ESTADO_CIVIL,DS_ESTADO_CIVIL,CD_FAIXA_ETARIA,DS_FAIXA_ETARIA,CD_GRAU_ESCOLARIDADE,DS_GRAU_ESCOLARIDADE,TP_CONVOCACAO,TP_COMPARECIMENTO,QT_MESARIOS_PERFIL
0,30/10/2024,04:23:04,2024,1,PA,5436,SÃO DOMINGOS DO CAPIM,50,2,MASCULINO,3,CASADO,3539,35 a 39 anos,6,ENSINO MÉDIO COMPLETO,Não voluntárias e não voluntários,Comparecimentos,3
1,30/10/2024,04:23:04,2024,2,PA,4278,BELÉM,1,4,FEMININO,1,SOLTEIRO,2529,25 a 29 anos,6,ENSINO MÉDIO COMPLETO,Não voluntárias e não voluntários,Comparecimentos,12
2,30/10/2024,04:23:04,2024,1,PA,4340,AURORA DO PARÁ,49,4,FEMININO,1,SOLTEIRO,2529,25 a 29 anos,8,SUPERIOR COMPLETO,Não voluntárias e não voluntários,Comparecimentos,5
3,30/10/2024,04:23:04,2024,1,PA,4979,MUANÁ,10,4,FEMININO,1,SOLTEIRO,3034,30 a 34 anos,7,SUPERIOR INCOMPLETO,Voluntárias e voluntários,Comparecimentos,1
4,30/10/2024,04:23:04,2024,2,PA,4278,BELÉM,1,2,MASCULINO,1,SOLTEIRO,4044,40 a 44 anos,6,ENSINO MÉDIO COMPLETO,Não voluntárias e não voluntários,Comparecimentos,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29141,30/10/2024,04:23:04,2024,1,PA,4154,ANANINDEUA,43,2,MASCULINO,3,CASADO,3034,30 a 34 anos,6,ENSINO MÉDIO COMPLETO,Não voluntárias e não voluntários,Comparecimentos,1
29142,30/10/2024,04:23:04,2024,1,PA,4570,CURUÇÁ,9,4,FEMININO,3,CASADO,4044,40 a 44 anos,5,ENSINO MÉDIO INCOMPLETO,Não voluntárias e não voluntários,Comparecimentos,2
29143,30/10/2024,04:23:04,2024,1,PA,5975,DOM ELISEU,84,2,MASCULINO,1,SOLTEIRO,3539,35 a 39 anos,3,ENSINO FUNDAMENTAL INCOMPLETO,Não voluntárias e não voluntários,Comparecimentos,1
29144,30/10/2024,04:23:04,2024,1,PA,4251,BARCARENA,65,2,MASCULINO,3,CASADO,5559,55 a 59 anos,8,SUPERIOR COMPLETO,Não voluntárias e não voluntários,Comparecimentos,1
29145,30/10/2024,04:23:04,2024,1,PA,4642,MARITUBA,78,4,FEMININO,1,SOLTEIRO,4044,40 a 44 anos,7,SUPERIOR INCOMPLETO,Não voluntárias e não voluntários,Ausências,1

In [4]:
mesarios_pa_2024 = mesarios_pa_2024[mesarios_pa_2024["NM_MUNICIPIO"] == "BELÉM"]

In [5]:
infos_mesarios_pa_2024 = mesarios_pa_2024.describe(include='all')
nan_mesarios_pa_2024 = mesarios_pa_2024.isnull().sum()

In [6]:
infos_mesarios_pa_2024

,DT_GERACAO,HH_GERACAO,AA_ELEICAO,NR_TURNO,SG_UF,CD_MUNICIPIO,NM_MUNICIPIO,NR_ZONA,CD_GENERO,DS_GENERO,CD_ESTADO_CIVIL,DS_ESTADO_CIVIL,CD_FAIXA_ETARIA,DS_FAIXA_ETARIA,CD_GRAU_ESCOLARIDADE,DS_GRAU_ESCOLARIDADE,TP_CONVOCACAO,TP_COMPARECIMENTO,QT_MESARIOS_PERFIL
count,5683,5683,5683.0,5683.000000,5683,5683.0,5683,5683.000000,5683.000000,5683,5683.000000,5683,5683.000000,5683,5683.000000,5683,5683,5683,5683.000000
unique,1,1,NaN,NaN,1,NaN,1,NaN,NaN,2,NaN,5,NaN,16,NaN,6,2,2,NaN
top,30/10/2024,04:23:04,NaN,NaN,PA,NaN,BELÉM,NaN,NaN,FEMININO,NaN,SOLTEIRO,NaN,45 a 49 anos,NaN,ENSINO MÉDIO COMPLETO,Voluntárias e voluntários,Comparecimentos,NaN
freq,5683,5683,NaN,NaN,5683,NaN,5683,NaN,NaN,3299,NaN,3146,NaN,691,NaN,1740,3091,5233,NaN
mean,NaN,NaN,2024.0,1.472110,NaN,4278.0,NaN,61.396622,3.161007,NaN,2.631885,NaN,4002.337322,NaN,6.545135,NaN,NaN,NaN,3.934014
std,NaN,NaN,0.0,0.499265,NaN,0.0,NaN,34.349816,0.987040,NaN,2.493706,NaN,1341.794566,NaN,1.285062,NaN,NaN,NaN,5.031444
min,NaN,NaN,2024.0,1.000000,NaN,4278.0,NaN,1.000000,2.000000,NaN,1.000000,NaN,1800.000000,NaN,3.000000,NaN,NaN,NaN,1.000000
25%,NaN,NaN,2024.0,1.000000,NaN,4278.0,NaN,29.000000,2.000000,NaN,1.000000,NaN,3034.000000,NaN,6.000000,NaN,NaN,NaN,1.000000
50%,NaN,NaN,2024.0,1.000000,NaN,4278.0,NaN,73.000000,4.000000,NaN,1.000000,NaN,4044.000000,NaN,7.000000,NaN,NaN,NaN,2.000000
75%,NaN,NaN,2024.0,2.000000,NaN,4278.0,NaN,96.000000,4.000000,NaN,3.000000,NaN,5054.000000,NaN,8.000000,NaN,NaN,NaN,5.000000
max,NaN,NaN,2024.0,2.000000,NaN,4278.0,NaN,98.000000,4.000000,NaN,9.000000,NaN,8084.000000,NaN,8.000000,NaN,NaN,NaN,44.000000

In [7]:
nan_mesarios_pa_2024

DT_GERACAO              0
HH_GERACAO              0
AA_ELEICAO              0
NR_TURNO                0
SG_UF                   0
CD_MUNICIPIO            0
NM_MUNICIPIO            0
NR_ZONA                 0
CD_GENERO               0
DS_GENERO               0
CD_ESTADO_CIVIL         0
DS_ESTADO_CIVIL         0
CD_FAIXA_ETARIA         0
DS_FAIXA_ETARIA         0
CD_GRAU_ESCOLARIDADE    0
DS_GRAU_ESCOLARIDADE    0
TP_CONVOCACAO           0
TP_COMPARECIMENTO       0
QT_MESARIOS_PERFIL      0
dtype: int64

In [8]:
mesarios_pa_2024 = mesarios_pa_2024.drop(columns=["DT_GERACAO", "HH_GERACAO"])

In [9]:
infos_finais = mesarios_pa_2024.describe(include='all')
nan_finais = mesarios_pa_2024.isnull().sum()

In [10]:
infos_finais

,AA_ELEICAO,NR_TURNO,SG_UF,CD_MUNICIPIO,NM_MUNICIPIO,NR_ZONA,CD_GENERO,DS_GENERO,CD_ESTADO_CIVIL,DS_ESTADO_CIVIL,CD_FAIXA_ETARIA,DS_FAIXA_ETARIA,CD_GRAU_ESCOLARIDADE,DS_GRAU_ESCOLARIDADE,TP_CONVOCACAO,TP_COMPARECIMENTO,QT_MESARIOS_PERFIL
count,5683.0,5683.000000,5683,5683.0,5683,5683.000000,5683.000000,5683,5683.000000,5683,5683.000000,5683,5683.000000,5683,5683,5683,5683.000000
unique,NaN,NaN,1,NaN,1,NaN,NaN,2,NaN,5,NaN,16,NaN,6,2,2,NaN
top,NaN,NaN,PA,NaN,BELÉM,NaN,NaN,FEMININO,NaN,SOLTEIRO,NaN,45 a 49 anos,NaN,ENSINO MÉDIO COMPLETO,Voluntárias e voluntários,Comparecimentos,NaN
freq,NaN,NaN,5683,NaN,5683,NaN,NaN,3299,NaN,3146,NaN,691,NaN,1740,3091,5233,NaN
mean,2024.0,1.472110,NaN,4278.0,NaN,61.396622,3.161007,NaN,2.631885,NaN,4002.337322,NaN,6.545135,NaN,NaN,NaN,3.934014
std,0.0,0.499265,NaN,0.0,NaN,34.349816,0.987040,NaN,2.493706,NaN,1341.794566,NaN,1.285062,NaN,NaN,NaN,5.031444
min,2024.0,1.000000,NaN,4278.0,NaN,1.000000,2.000000,NaN,1.000000,NaN,1800.000000,NaN,3.000000,NaN,NaN,NaN,1.000000
25%,2024.0,1.000000,NaN,4278.0,NaN,29.000000,2.000000,NaN,1.000000,NaN,3034.000000,NaN,6.000000,NaN,NaN,NaN,1.000000
50%,2024.0,1.000000,NaN,4278.0,NaN,73.000000,4.000000,NaN,1.000000,NaN,4044.000000,NaN,7.000000,NaN,NaN,NaN,2.000000
75%,2024.0,2.000000,NaN,4278.0,NaN,96.000000,4.000000,NaN,3.000000,NaN,5054.000000,NaN,8.000000,NaN,NaN,NaN,5.000000
max,2024.0,2.000000,NaN,4278.0,NaN,98.000000,4.000000,NaN,9.000000,NaN,8084.000000,NaN,8.000000,NaN,NaN,NaN,44.000000

In [11]:
nan_finais

AA_ELEICAO              0
NR_TURNO                0
SG_UF                   0
CD_MUNICIPIO            0
NM_MUNICIPIO            0
NR_ZONA                 0
CD_GENERO               0
DS_GENERO               0
CD_ESTADO_CIVIL         0
DS_ESTADO_CIVIL         0
CD_FAIXA_ETARIA         0
DS_FAIXA_ETARIA         0
CD_GRAU_ESCOLARIDADE    0
DS_GRAU_ESCOLARIDADE    0
TP_CONVOCACAO           0
TP_COMPARECIMENTO       0
QT_MESARIOS_PERFIL      0
dtype: int64

In [12]:
mesarios_pa_2024

,AA_ELEICAO,NR_TURNO,SG_UF,CD_MUNICIPIO,NM_MUNICIPIO,NR_ZONA,CD_GENERO,DS_GENERO,CD_ESTADO_CIVIL,DS_ESTADO_CIVIL,CD_FAIXA_ETARIA,DS_FAIXA_ETARIA,CD_GRAU_ESCOLARIDADE,DS_GRAU_ESCOLARIDADE,TP_CONVOCACAO,TP_COMPARECIMENTO,QT_MESARIOS_PERFIL
1,2024,2,PA,4278,BELÉM,1,4,FEMININO,1,SOLTEIRO,2529,25 a 29 anos,6,ENSINO MÉDIO COMPLETO,Não voluntárias e não voluntários,Comparecimentos,12
4,2024,2,PA,4278,BELÉM,1,2,MASCULINO,1,SOLTEIRO,4044,40 a 44 anos,6,ENSINO MÉDIO COMPLETO,Não voluntárias e não voluntários,Comparecimentos,3
5,2024,1,PA,4278,BELÉM,1,4,FEMININO,1,SOLTEIRO,2124,21 a 24 anos,5,ENSINO MÉDIO INCOMPLETO,Não voluntárias e não voluntários,Comparecimentos,5
7,2024,2,PA,4278,BELÉM,97,4,FEMININO,1,SOLTEIRO,4549,45 a 49 anos,6,ENSINO MÉDIO COMPLETO,Não voluntárias e não voluntários,Comparecimentos,20
23,2024,2,PA,4278,BELÉM,73,4,FEMININO,1,SOLTEIRO,2529,25 a 29 anos,6,ENSINO MÉDIO COMPLETO,Não voluntárias e não voluntários,Comparecimentos,30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29050,2024,1,PA,4278,BELÉM,30,4,FEMININO,3,CASADO,2529,25 a 29 anos,8,SUPERIOR COMPLETO,Não voluntárias e não voluntários,Comparecimentos,1
29051,2024,2,PA,4278,BELÉM,30,4,FEMININO,9,DIVORCIADO,5559,55 a 59 anos,7,SUPERIOR INCOMPLETO,Não voluntárias e não voluntários,Comparecimentos,1
29052,2024,1,PA,4278,BELÉM,30,4,FEMININO,9,DIVORCIADO,3539,35 a 39 anos,5,ENSINO MÉDIO INCOMPLETO,Não voluntárias e não voluntários,Comparecimentos,1
29083,2024,2,PA,4278,BELÉM,76,4,FEMININO,1,SOLTEIRO,6569,65 a 69 anos,8,SUPERIOR COMPLETO,Voluntárias e voluntários,Comparecimentos,1
29104,2024,1,PA,4278,BELÉM,76,4,FEMININO,1,SOLTEIRO,2529,25 a 29 anos,6,ENSINO MÉDIO COMPLETO,Não voluntárias e não voluntários,Ausências,1

In [13]:
mesarios_pa_2024.to_csv("mesarios_belem_2024.csv", index=False, encoding='latin1')